<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title> Services l</title>
    <link rel="stylesheet" href="services.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="wrapper">
        <div class="box">
            <div class="front-face">
                <div class="icon">
                    <i class="fas fa-code"></i>
                </div>
                <span>Secure Payment</span>
            </div>
            <div class="back-face">
                <span>Secure Payment</span>
                <p>
                    The Security of Customer is the Number One Priority for us
                </p>
            </div>
        </div>
        <div class="box">
            <div class="front-face">
                <div class="icon">
                    <i class="fas fa-chart-line"></i>
                </div>
                <span>Online Banking</span>
            </div>
            <div class="back-face">
                <span>Online Banking</span>
                <p>
                    Our Bank allows there customer to access their account 24/7 without having to visit a physical branch with the help of online banking.
                </p>
            </div>
        </div>
        <div class="box">
            <div class="front-face">
                <div class="icon">
                    <i class="fas fa-rocket"></i>
                </div>
                <span>24/7 Service</span>
            </div>
            <div class="back-face">
                <span>24/7 Service</span>
                <p>
                    Our team would love to solve your problems at any instance of the day.
                </p>
            </div>
        </div>
    </div>
</body>

</html>